.ContactInfo {
	margin: 2rem auto;
	width: 80%;
	box-shadow: 0 2px 3px #ccc;
	border: 1px solid #eee;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	align-items:center;

	& input,
	& select{
		outline: none;
		border: 1px solid #ccc;
		background-color: white;
		font: inherit;
		padding: 6px 10px;
		display: block;
		width: 100%;
		margin: 1.05em 0;
	}

	& input:focus,
	& select:focus {
		outline: none;
		background-color: #ccc;
	}

}

@media (min-width: 60rem) {
	.ContactInfo {
		width: 60%;
	}
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.error{
  color:red;
  padding:4px;
  font-size: 1rem;
  align-self:flex-start;
}

