@import '../../styles/abstracts/mixins.scss';
@import '../../styles/abstracts/variables';

.Burger {
	width: 80%;
	margin:0 auto;
	height: 35rem;
	overflow: auto;
	text-align: center;

    @include respond(big-desktop) {
        // width: 70rem;
        height: 40rem;
    }

   @include respond(tab-land) {
        height: 30rem;
    }

    @include respond(tab-port) {
        height: 25rem;
    }
    @include respond(phone) {
        height: 20rem;
    }

	&_error {
    	color:red;
    	font-size: 1.6rem;
    	padding: 1rem;
    }
};
