@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.Toolbar {
	width: 100%;
	background-color: $color-primary;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	z-index: 90; //lower than for backdrop (100)
}

.DesktopOnly{
	// display: none;
	@include respond(phone) {
		display: none;
	}
}

.Logo {
	height: 80%;
	margin: 1rem 0;
}

