@import '../../styles/abstracts/mixins';
.Logo{
	background-color: white;
	padding: 0.6rem;
	border-radius: 0.5rem;
    display:flex;
    // align-self: stretch;
    // align-items: center;

	img {
        width: 4.5rem;
		height:auto;
        @include respond(big-desktop) {
            // width: 10rem;
        }
	}


}