// .SideDrawer {
// 	flex: 0 0 18%;
// 	display: flex;
// 	background-color: black;
// 	flex-direction: column;
// 	justify-content: space-between;
// }

.SideDrawer {
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 200;
	// width: 28rem;
	max-width: 70%;
	// background-color: white;
	background-color: #8F5C2C;
	transition: transform 0.3s ease-out;
	padding: 3.2rem 1.6rem;

	& .Logo {
		height: 12%;
		margin-bottom: 2rem;
	}

	& .NavigationItems {
		flex-direction: column;
	}

}

@media (min-width: 500px) {
	.SideDrawer {
		display: none;
	}
}

.Open {
	transform: translateX(0);
}

.Close {
	transform: translateX(-100%);
}

