.ToggleButton{
    width: 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    align-self: stretch;
    padding: 1.2rem 0;
}

.ToggleButton div {
    width: 90%;
    height: 3px;
    background-color: white;
}

@media (min-width: 600px) {
    .ToggleButton {
        display: none;
    }
}